<html>
	<head> <b>Cloud Quiz 7<b> </head>
	<body>
	<div class="container">
	 <label><b><u> Shilpa Shree</u></b></label>&nbsp&nbsp&nbsp&nbsp&nbsp	<label><b><u>1001540443</u></b></label>	<br><br>
	<form id="formLogin" action="/login" enctype="multipart/form-data" method="post">
	User Name: <input type = "text" name="username">
	Password: <input type = "text" name="password">
	<input type="submit" value="Submit" id="submit_file">
	</form>
	<br>Create DB<br>
	<form action="/createDB" method="POST" enctype="multipart/form-data">
    		Enter the name for table: <input type="text" name="table_name" ><br><br>
      		<input type="submit" name="click" value="Create Table"> &nbsp;
	</form>
	</body>
</html>

